#block-sos-content{
    overflow-x: auto;
    padding: 10px 50px;
}
#ob-table td:nth-last-child(-n+3) {
    color: red;
    font-weight: bold;
}
#ob-table,
#main-table{
    background-color: white;
    border-radius: 5px;
}

form#workforce-monitoring-account-form{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
#refreshableContent a,
.over-break-head a{
    text-decoration: none;
    color: #12588A;
    padding: 2px 10px;
    float: right;
    font-size: 14px;
    border-radius: 6px;
    background: white;
    font-weight: 700;
}
.over-break-head a:hover,
#refreshableContent a:hover{
    color: white;
    background: #12588A;
}
#refreshableContent .legend{
    display: flex;
    float: inline-end;
    margin-right: 50px;
}
.legend strong{
    margin-right: 5px;
}
.legend span{
    margin-right: 3px;
    padding: 1px 10px;
    border-radius: 8px;
}
.warning{
    background-color: #FF7575;
    color: #ffffff;
    font-weight: bold;
}
.break1{
    background-color: #FFFDC9;
}
.break2{
    background-color: #ffec5f;
}
.lunch{
    background-color: #A8FECA;
}
#onBreaksContent td:last-child{
    display: none;
    visibility: hidden;
}

/* blink red */
.break-blink{
	-webkit-animation: pulse 400ms infinite alternate;
	        animation: pulse 400ms infinite alternate;
}
@-webkit-keyframes pulse {
	0% { background-color: #FF7575;
            color:white; }
	100% { background-color: #ffffff;
        color:red; }
}
@keyframes pulse {
	0% { background-color: #FF7575;
             color:white; }
	100% { background-color: #ffffff;
        color:red; }
}