.Dashboard-welcome-user {
    float: left;
    display: flex;
}
.welcome-user {
    font-weight: bold;
}
.Dashboard-welcome-user p {
    margin-left: -250px;
    margin-top: 60px;
}
.Dashboard-welcome-user h4 {
    margin-top: 20px;
    margin-left: 10px;
}
.dashboard-block {
    margin: auto;
    width: 70.3%;
}
.welcome-user-block {
    height: 123px;
    /* background-color: white; */
    /* border-radius: 10px; */
    /* margin-bottom: 5px; */
    /* box-shadow: 2px 2px 5px gre */
}
.costum-block {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px gre
}

.Dashboard-content{
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
}
.Dashboard-content .field-content{
    font-size: 16px;
    margin-top: 10px;
}