.all-leaves-container .all-leaves-button,
 .my-leaves-container .my-leaves-button,
 .in-progress-leaves-container .in-progress-leaves-button,
 .request-delete-leaves-button,
 .pending-leaves-button{
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background: #3586D5;
  padding: 6px 12px;
  float: right;
  margin: 10px 5px;
}
.all-leaves-container,
.my-leaves-container,
.request-delete-leaves-container,
.pending-leaves-container{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.responsive-enabled #leave,
.responsive-enabled .request-leave {
  display: flex;
}

.responsive-enabled i {
  padding: 0px 5px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  margin-right: 3px;
}
/* icon enabled */
.responsive-enabled i.bi.bi-eye{
  background: rgba(5, 105, 204, 0.80);

}
.responsive-enabled i.bi.bi-pencil,
.responsive-enabled i.bi.bi-check2{
  background: rgba(67, 139, 106, 0.80);
}
.responsive-enabled i.bi.bi-trash,
.responsive-enabled i.bi.bi-x-lg{
  background: rgba(244, 67, 54, 0.80);
}
/* icon disabled */
i.bi.bi-pencil.edit-link,
i.bi.bi-check2.approve-link{
  background: rgba(67, 139, 106, 0.25);
}
i.bi.bi-trash.delete-link,
i.bi.bi-x-lg.deny-link{
  background: rgba(244, 67, 54, 0.25);
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 5px 10px;
}

/* color: #438B6A; green
color: #D35757; red
color: rgba(5, 105, 204, 0.80); blue */
