/* Main Navigation */
.region--primary-menu{
  width: 100%;
  margin-top: 120px;
}
.region--primary-menu li a {
padding: 8px 8px 8px 35px;
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: black;
display: block;
border-left: 10px solid #EDF3F7;
}

.region--primary-menu li a i {
  font-size: 20px;
}
.region--primary-menu ul{
margin-left: 0;
margin-bottom: 0;
padding: 0;
}
/* .region--primary-menu li:hover{
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(255,255,255,0) 6%);
} */
.region--primary-menu li a:hover {
    background-color: #FFF;
    color: black;
    border-left:10px solid #00f;
}
span::after{
    content: '\a';
    white-space: pre;
}

#block-sos-mainnavigation2 svg,
#block-sos-main-menu svg {
  padding-left: 30px;
  margin-right: 5px;
}

/* Avatar*/
.views-row{
  display: grid;
  margin-bottom: 30px;
}
.views-field{
  margin: auto;
}
.field-content img {
  border-radius: 50%;
}
.views-row .field-content{
  font-size: small;
}
.field-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
 /* leave_page */
 #block-sos-hrleavepage ul,
 #block-sos-userleavepage ul,
 #block-sos-managerleavepage ul{
  display: flex;
  list-style-type: none;
  padding-left: 50px;
}
#block-sos-hrleavepage li,
#block-sos-userleavepage li,
#block-sos-managerleavepage li{
  padding: 5px 10px;
}
#block-sos-hrleavepage li:hover,
#block-sos-userleavepage li:hover
#block-sos-managerleavepage li:hover{
  background: white;
}
#block-sos-hrleavepage li a,
#block-sos-userleavepage li a,
#block-sos-managerleavepage li a{
  text-decoration: none;
  color: black;
}
.active {
  background:white;
  overflow:hidden;
}

/* PaySlip */
#block-sos-payslip li {
  padding: 5px 10px;
}
#block-sos-payslip ul {
  display: flex;
  list-style-type: none;
  padding-left: 50px;
}
#block-sos-payslip li:hover{
  background: white;
}
#block-sos-payslip a {
  text-decoration: none;
  color: black;
}