/* Main Navigation */
.region--primary-menu{
  width: 100%;
  margin-top: 120px;
}
.region--secondary-menu{
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid black;
}
.region--primary-menu nav,
.region--secondary-menu nav{
  padding: unset;
}
.region--primary-menu li a,
.region--secondary-menu li a{
padding: 8px 8px 8px 35px;
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: black;
display: block;
border-left: 10px solid #EDF3F7;
}

.region--primary-menu li a i,
.region--secondary-menu li a i{
  font-size: 20px;
}
.region--primary-menu ul,
.region--secondary-menu ul{
margin-left: 0;
margin-bottom: 0;
padding: 0;
}
.primary_menu .icon-link.icon-link-hover:hover,
.dropdown-btn:hover {
  background-color: #FFF;
  color: black;
  border-left: 10px solid #0E4C87;
}
/* .region--primary-menu ul li a:hover 
.region--secondary-menu ul li a:hover{
    background-color: #FFF;
    color: black;
    border-left:10px solid #0E4C87;
} */
span::after{
    content: '\a';
    white-space: pre;
}
#block-sos-main-menu{
  border-top: 1px solid black;
}
#block-sos-mainnavigation2 svg,
#block-sos-main-menu svg {
  padding-left: 30px;
  margin-right: 5px;
}

/* Avatar*/
.views-row{
  display: grid;
  margin-bottom: 30px;
}
.views-field{
  margin: auto;
}
.field-content img {
  border-radius: 50%;
}
.views-row .field-content{
  font-size: small;
}
.field-content a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
 /* leave_page */
 #block-sos-hrleavepage ul,
 #block-sos-userleaves ul,
 #block-sos-manageleaves ul{
  display: flex;
  list-style-type: none;
  padding-left: 50px;
  margin: 10px 0px 0px 0px;
}

#block-sos-hrleavepage li a,
#block-sos-userleaves li a,
#block-sos-manageleaves li a{
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
#block-sos-hrleavepage li a:hover,
#block-sos-userleaves li a:hover,
#block-sos-manageleaves li a:hover{
  background: white;
}

#block-sos-hrleavepage .is-active,
#block-sos-userleaves .is-active,
#block-sos-manageleaves .is-active {

  background:white;
  overflow:hidden;
}

/* PaySlip */
#block-sos-payslip li {
  padding: 5px 10px;
}
#block-sos-payslip ul {
  display: flex;
  list-style-type: none;
  padding-left: 50px;
}
#block-sos-payslip li:hover{
  background: white;
}
#block-sos-payslip a {
  text-decoration: none;
  color: black;
}