*{
  margin: 0;
  padding: 0;

} 
body{
  font-family: Arial, Helvetica, sans-serif;
}
.sos-main-page{
  background: #BBD0E2;
  width:85%; 
  min-height: 953px;
	float: right;
}
.header{
  position: fixed;
	width: 100%;	
	height: 67px;
  z-index: 0;
  background: #1D4D7A;
}
.content-box {
  margin-top: 67px;
	display: grid;
  grid-template-columns: auto ;
}
.primary_menu{
  position:fixed; 
	z-index: -1;
  height: 100%;
	width: 15%;
	margin: 0px;  
  background: #EDF3F7;
}
.content{ 
   border-radius: 5px;
}
.edit-content{
  width: 85%;
  margin: auto;
}
.footer{
  text-align: center;
  height: 100px;

}
.footer, .content, .featured, .sidebar{
  margin: 5px 5px 0px;

}
#block-sos-page-title{
  padding: 5px;
  margin: auto;
}
#block-sos-page-title h1{
  padding-left:25px;
}
#block-sos-sosfooter p{
color: black;
padding: 1%;
}
#block-sos-sitebranding{
  padding: 0;
  margin-left: 50px;
}
#block-sos-sitebranding img{
  margin: auto;
  width: 294px;
  position: absolute;
  left: 40px;
  bottom: 6.545px;
}

.region-content{
  display: flex;
  justify-content: center;
} 
#block-sos-tabs{
  margin-left: 50px;
}
.contextual-region{
  position: unset;
  padding: unset;
}