tr:hover{
    background-color: #ddd;
}
th{
    background-color: #A9ADB1;
}

table a{
    text-decoration: none;
    color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
td, th{
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

#onBreaksContent tbody tr{
    border-bottom: 1px solid #ddd;
    /* background-color: #f2f2f2; */
}
/* CSS for red blinking animation */
@keyframes blink-red-animation {
    0% { background-color: inherit; }
    50% { background-color: red; }
    100% { background-color: inherit; }
  }
  
  .blink-red {
    animation: blink-red-animation 1s infinite; /* Change animation duration as needed */
  }

