<form class="workforce-monitoring-account-form" data-drupal-selector="workforce-monitoring-account-form" action="/workforce-monitoring/onBreaks" method="post" id="workforce-monitoring-account-form" accept-charset="UTF-8">

    <div class="js-form-item form-item js-form-type-select form-item-account-select js-form-item-account-select">

    <label for="edit-account-select">Select Account</label>

    <select data-drupal-selector="edit-account-select" id="edit-account-select" name="account_select" class="form-select">
        <option value="" selected="selected">All Account</option>
        <option value="Admin Maintenance">Admin Maintenance</option>
        <option value="ALEVA">ALEVA</option>
        <option value="APA Financial">APA Financial</option>
        <option value="BlueRyse">BlueRyse</option>
        <option value="CareMedica">CareMedica</option>
        <option value="CareMedica Florida">CareMedica Florida</option>
        <option value="Custom Offsets">Custom Offsets</option>
        <option value="Decks Direct">Decks Direct</option>
        <option value="Development (R&amp;D)">Development (R&amp;D)</option>
        <option value="DM TAS">DM TAS</option>
        <option value="Everything Kitchen">Everything Kitchen</option>
        <option value="Filter Water">Filter Water</option>
        <option value="FUJI Xerox">FUJI Xerox</option>
        <option value="HIFI CS">HIFI CS</option>
        <option value="HIFI DE">HIFI DE</option>
        <option value="Holland &amp; Bulbs">Holland &amp; Bulbs</option>
        <option value="Ideal Tech - Amazon">Ideal Tech - Amazon</option>
        <option value="Ideal Tech - Boca General">Ideal Tech - Boca General</option>
        <option value="Ideal Tech - CFTHH">Ideal Tech - CFTHH</option>
        <option value="Ideal Tech - FIMDA">Ideal Tech - FIMDA</option>
        <option value="Ideal Tech - Greenwich Med">Ideal Tech - Greenwich Med</option>
        <option value="Intern">Intern</option>
        <option value="IRP">IRP</option>
        <option value="Kelly Andersons Group">Kelly Andersons Group</option>
        <option value="Managers">Managers</option>
        <option value="MAPerformance">MAPerformance</option>
        <option value="Mass Depot">Mass Depot</option>
        <option value="Mass Depot CS">Mass Depot CS</option>
        <option value="MCM Logistics">MCM Logistics</option>
        <option value="My Memory">My Memory</option>
        <option value="Onogo UK">Onogo UK</option>
        <option value="PBIM">PBIM</option>
        <option value="Power Meter City">Power Meter City</option>
        <option value="Quality Assurance">Quality Assurance</option>
        <option value="RSI">RSI</option>
        <option value="SnowJoe DE">SnowJoe DE</option>
        <option value="SnowJoe ECT">SnowJoe ECT</option>
        <option value="SnowJoe CSR">SnowJoe CSR</option>
        <option value="Stamina">Stamina</option>
        <option value="Supervisors">Supervisors</option>
        <option value="The Lamp Stand">The Lamp Stand</option>
        <option value="UNIMED">UNIMED</option>
        <option value="KURU">KURU</option>
        <option value="Hearth Song">Hearth Song</option>
        <option value="Cruise Web">Cruise Web</option>
        <option value="Popov Leather">Popov Leather</option>
        <option value="Ideal Tech - Heart Wellness Group">Ideal Tech - Heart Wellness Group</option>
        
                </select>

            </div>

    <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit" class="button js-form-submit form-submit">

    <input autocomplete="off" data-drupal-selector="form-cgucysx07-35ghmwu0cykcom-ogbglnclz7dum0pq4s" type="hidden" name="form_build_id" value="form-CGUCYsx07_35GhmWu0CykcOM_OGBGlNCLz7duM0Pq4s">

    <input data-drupal-selector="edit-workforce-monitoring-account-form-form-token" type="hidden" name="form_token" value="Rv_EsC0tIT61oVRFBzdttC3-07ZlwZBmbb-gLvGEr44">

    <input data-drupal-selector="edit-workforce-monitoring-account-form" type="hidden" name="form_id" value="workforce_monitoring_account_form">

    </form>