<div class="dashboard-page">
    <div class="welcome-user-block row">
            {{drupal_view('dashboard_account', 'block_1') }}
                </div>
                <div class="dashboard-flex-view row">
            <div class="dashboard costum-flex col-9">
           {{drupal_view('dashboard', 'block_1') }}
            </div>
            {# <div class="dashboard costum-flex col-3">
           {{drupal_view('editorial_calendar', 'block_1') }}
            </div> #}

            </div>
</div>