<section class="login-block">
    <div class="container">

	<div class="row2">
		<div class="col-md-3 login-sec">
			<div class="auth-brand logo-image-file">
				<center>
					<img src="/sites/default/files/images/SOS.png" alt="logo" class="logo-image-sos">
					<img src="/sites/default/files/images/SOS_logo.png" alt="logo" class="logo-image">
				</center>
			</div>
		    <h4>Sign In</h4>
		    <form class="login-form" id="sos-user-login-form" data-drupal-selector="sos-user-login-form" action="/user/login" method="post" id="sos-user-login-form" accept-charset="UTF-8">

	<div class=" mb-3 form-group js-form-item form-item js-login-form-type-textfield form-item-name js-form-item-name">
		<label for="edit-name" class="log-in-form-required form-label">Email address</label>
		<input autocorrect="none" placeholder="Enter your email" autocapitalize="none" spellcheck="false" autofocus="autofocus" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" class="form-control login-required" required="required" aria-required="true">
	</div>
	<div class="mb-3 form-group js-form-item form-item js-login-form-type-password form-item-pass js-form-item-pass">
		<a href="" class="text-muted float-end"><small>Request password?</small></a>
		<label for="edit-pass" class="log-in-form-required form-label">Password</label>
		<div class="input-group input-group-merge">
			<input data-drupal-selector="edit-pass" placeholder="Enter your password" aria-describedby="edit-pass--description" type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-control login-required" required="required" aria-required="true">
		</div>
		
	</div>
	

		<div class="mb-3 form-check login-form-required">
		<input type="checkbox" class="form-check-input" id="checkbox-signin">
				<label class="form-check-label" for="checkbox-signin">Remember me</label>
	</div>

	<input autocomplete="off" data-drupal-selector="form-7b-lg3xfbvv-nxo-cgdiyjlu7wxgshcjlwwiyvhqfxy" type="hidden" name="form_build_id" value="form-7B-Lg3xFBvv-NXO-cgDiyjLu7wxgShcJLWWiyvHQfXY">
			<input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
			<div data-drupal-selector="edit-actions" class="text-center d-grid">
				<button data-drupal-selector="edit-submit" class="btn btn-primary" id="login-edit-submit" name="op" value="Log in" type="submit">Log In </button>
			</div>
  
</form>
		</div>

		<div class="col-md-9 banner-sec">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
				  </div>
            <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../sites/default/files/images/slide1.jpg" alt="First slide">
	  <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../sites/default/files/images/slide2.jpg" alt="Second slide">
	  <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../sites/default/files/images/slide3.jpg" alt="Third slide">
	  <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
  </div>
            </div>	   
		    
		</div>
	</div>
</div>
</section>